::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--iconbghover);
}
::-webkit-scrollbar-corner {
  display: none;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: 0.2s, color 0.1s, scroll 0s;
  scroll-behavior: smooth;
  font-family: "roboto", sans-serif;
}
[data-color-scheme="light"] {
  --bgcolor: white;
  --fontclr: rgb(96, 99, 104);
  --navclr: rgba(255, 255, 255);
  --grad: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
  --headgrad: -webkit-linear-gradient(0deg, #5f67fb, #f26e82);
  --backgroundside: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --textcolor: black;
  --fab: linear-gradient(to right, #60ffad60, #e6ff2860);
  --iconbg: rgba(0, 0, 0, 0.06);
  --iconbghover: rgba(0, 0, 0, 0.1);
}
[data-color-scheme="dark"] {
  --bgcolor: rgb(32, 33, 36);
  --fontclr: rgb(222, 222, 223);
  --navclr: rgba(55, 56, 58);
  --grad: radial-gradient(
    circle farthest-corner at 3.2% 49.6%,
    rgba(80, 12, 139, 0.87) 0%,
    rgba(161, 10, 144, 0.72) 83.6%
  );
  --headgrad: -webkit-linear-gradient(70deg, rgb(255, 33, 251), orange);
  --backgroundside: linear-gradient(to right, #ec6f66, #f3a183);
  --textcolor: white;
  --fab: linear-gradient(to right, #fc5c7d60, #6a82fb60);
  --iconbg: rgba(255, 255, 255, 0.06);
  --iconbghover: rgba(255, 255, 255, 0.1);
}

body {
  color: var(--fontclr);
  background-color: var(--bgcolor);
  box-sizing: border-box;
  left: 60px;
  position: relative;
  width: calc(100vw - 66px);
  margin-top: calc(1.4em + 44px);
  overflow-x: hidden;
}
