.bg{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0px;
    left:0px;
    z-index: 100000;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(2px);

}
.note{
    position: fixed;
    transition: 2s;
    top:50%;
    left:50%;
    height: 400px;
    width: 800px;
    z-index: 1000000000;
    background-color: var(--bgcolor);
    backdrop-filter: blur(2px);
    transform: translate(-50%,-50%);
    max-width: 80vw;
    border-radius: 10px;
    padding: 40px;
    overflow: scroll;
}
.note form{
    overflow: scroll;


}
.note button{
    position: fixed;
    outline: none;
    border: 1px solid gray;
    background: var(--grad);
    color:var(--textcolor);
    bottom:0px;
    right:0px;
    transform:translate(-50%,50%);
    border-radius:50%;
    padding:10px;;
    font-size:1.5em;
    align-items:center;
    display:flex;
}
.title{
    margin-bottom:10px;
    font-family:"roboto"
}
.text{
    height: 65%;
    width: 100%;
    padding: 20px;
    background:var(--iconbg);
    border: none;
    outline:none;
    resize: none;
    color:var(--textcolor);
    font-size: .9em;
    font-family:"roboto";
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
}
.text::-webkit-scrollbar{
    width:8px
}
.text::-webkit-scrollbar-thumb{
    border-radius: 10px;
}
.copy{
    color:#547FFF;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
.copy:hover{
    color:#a5a3ff
}

.double{
    position: relative;
    margin-top: 20px;
    display: flex;
    width: 100%;
    column-gap: 40px;

}
.input{
    position: relative;
    flex: 1;
    background-color: var(--bgcolor);
}
.input textarea,
    .input input{
    padding: 10px;
    align-items: center;
    outline: none;
    border: none;
    width: 100%;
    border: 1px solid rgb(111, 111, 111);
    border-radius: 4px;
    background-color: var(--bgcolor);
        color: var(--textcolor);
    overflow: scroll;
    resize: none;
    font-size: .9em;
    padding: 10px;
}
.input span{
    position: absolute;
    top:1px;
    top:1px;
    left: 2px;
    align-items: center;
    display: flex;
    line-height: calc(1.1em + 10px + 10px) ;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: .9em;
    width: calc(100% - 10px);
    pointer-events: none;
    background-color: var(--bgcolor);
    color:gray;
    transition: 0.1s;
}
.input input:focus ~ span,
.input input:valid ~ span,
.input textarea:focus ~ span,
.input textarea:valid ~ span{
    font-size: .9em;
    padding: 0px 10px;
    width: fit-content;
    height: fit-content;
    left:8px;
    transform: translateY(-7px);
    color:rgb(160, 150, 253);
    line-height: 14px;    
}
.cross{
    position: fixed;
    right: 20px;
    top:20px;
    transform: rotate(45deg);
    font-size: 2em;
    font-weight: 100;
    width: 1em;
    height: 1em;
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;


}
.cross:hover{
    background-color: rgba(114, 114, 114, 0.546);
}